body {
	background-image: url(image/main_back.jpg);
	background-repeat: no-repeat;
	font-family: 微軟正黑體;
}

/* 各頁面 */
div {
	position: absolute;
	margin: 0px;
	padding: 0px;
}
div.not_show {display: none;}

/* 上方選單 */
div.menu {
	position: absolute;
	top: 99px;
	cursor: pointer;
}
div#menu_1 { left: 352px; width: 85px; height: 24px;}
div#menu_3 { left: 540px; width: 85px; height: 24px;}
div#menu_5 { left: 773px; top: 88px; width: 70px; height: 16px;}
div#menu_6 { left: 773px; top: 115px; width: 70px; height: 16px;}

/* 前三頁 問問題 */
#img_ask_name1 , #img_ask_number , #img_ask_name2 {
	position: absolute;
	left: 125px;
	top: 220px;
	box-shadow: 5px 5px 10px #333;
}
#input_name1 , #input_number , #input_name2 {
	position: absolute;
	left: 162px;
	top: 262px;
	width: 220px;
	height: 32px;
	background: #000;
	border: solid 0px #000;
	color : white;
	text-align: center;
	font-size: 18px;
}
#page1_next , #page2_next , #page3_next {
	left: 160px;
	top: 316px;
	width: 227px;
	height: 28px;
	cursor: pointer;
}

/* 第五頁 列出基本候選字 */
#img_name_prelist {
	position: absolute;
	left: 145px;
	top: 190px;
	box-shadow: 5px 5px 10px #333;
	z-index: -10;
}
#out_name_prelist {
	left: 236px;
	top: 291px;
	width: 100px;
	height: 195px;
	color : white;
	text-align: center;
}
#page5_next {
	left: 240px;
	top: 492px;
	width: 30px;
	height: 20px;
	cursor: pointer;
}

/* 每一個人名 */
.one_name { 
	position: static;
	display: inline-block;
	margin: 3px;
	width: 80px;
	color : white;
}
.one_name .select { 
	float : right; 
	margin-left: 6px; 
	cursor: pointer;
}
.one_name .showred { 
	float : right; 
	padding-left: 35px; 
	padding-top: 13px; 
	visibility:hidden;
}
.one_name > div { 
	z-index: -1; 
	font-size: 22px;
}

/* 第六頁, 第七頁 */
#img_name_all , #img_name_sele {
	position: absolute;
	left: 145px;
	top: 190px;
	box-shadow: 5px 5px 10px #333;
	z-index: -10;
}
#out_name_all , #out_name_sele {
	left: 260px;
	top: 306px;
	width: 500px;
	height: 200px;
	color : white;
	text-align: left;
	overflow: auto;
	scrollbar-base-color: #57311F;
	scrollbar-track-color: #AA5222;
}
#page7 .showred {
	cursor: pointer;
}

/* 第八頁 聖旨 */
#img_analysis {
	position: absolute;
	left: 120px;
	top: 200px;
	box-shadow: 5px 5px 10px #333;
}
#page8_name {
	left: 165px;
	top: 245px;
	width: 80px;
	height: 45px;
	color : #C48617;
	text-align: center;
	font-size: 36px;
	font-weight:bold;
}
#page8_good {
	left: 260px;
	top: 250px;
	width: 100px;
	height: 25px;
	color : white;
	text-align: center;
	font-size: 24px;
}
#out80 {
	left: 165px;
	top: 300px;
	width: 215px;
	height: 83px;
	color : white;
	text-align: left;
	font-size: 18px;
}
#say80 {
	left: 165px;
	top: 440px;
	width: 210px;
	height: 85px;
	color : white;
	text-align: left;
	font-size: 18px;
}

/* 最初的對話框 */
div#message {
	top:190px;
	left:590px;
}

/* chrome 捲軸 */
::-webkit-scrollbar { background-color:#AA5222; }
::-webkit-scrollbar-button       { background-color:#492E21;}
::-webkit-scrollbar-track-piece  { background-color:#AA5222;}
::-webkit-scrollbar-thumb { -webkit-border-radius: 8px; background-color: #57311F;}