body {
	background-repeat: no-repeat;
	font-family: 微軟正黑體;
	margin: 0px;
	font-size: 14px;
	line-height: 1.428571429;
	overflow: auto;
}

/* 各頁面 */
div {
	position: absolute;
	margin: 0px;
	padding: 0px;
}
.mainpage {display: none;}

/* 上方選單 */
div.menu {
	position: absolute;
	top: 109px;
	width: 127px;
	height: 50px;
	cursor: pointer;
}
div#menu_1 { left: 370px; }
div#menu_2 { left: 500px; }
div#menu_3 { left: 628px; }
div#menu_4 { left: 755px; }

div#menu_5 { left: 827px; top: 476px; width: 43px; height: 42px;}
div#menu_6 { left: 827px; top: 536px; width: 43px; height: 42px;}

/* 首頁動畫 */
#swiffycontainer {
	left: 0px;
	top: 0px;
	width: 1000px;
	height: 720px;
}
#page0_next {
	left: 830px;
	top: 660px;
	width: 105px;
	height: 45px;
	cursor: pointer;
	border: solid 0px #666;
}

/* 前三頁 問問題 */
#img_ask_name1 , #img_ask_number , #img_ask_name2 {
	position: absolute;
	left: 130px;
	top: 210px;
}
#input_name1 , #input_number , #input_name2 {
	position: absolute;
	left: 177px;
	top: 297px;
	width: 205px;
	height: 30px;
	background: #000;
	border: solid 0px #000;
	color : white;
	text-align: center;
	font-size: 18px;
}
#page1_next , #page2_next , #page3_next {
	left: 177px;
	top: 340px;
	width: 205px;
	height: 30px;
	cursor: pointer;
	border: solid 0px #fff;
}

/* 每一個人名 */
.one_name { 
	position: static;
	display: inline-block;
	margin: 3px;
	min-width: 80px;
	color : black;
	text-align: right;
}
.one_name .select {
	vertical-align: top;
	cursor: pointer;
}
.one_name span { 
	font-size: 22px;
	font-weight:bold;
}

/* 第五頁 列出基本候選字 */
#page5, #page8 {
	position: absolute;
	left: 125px;
	top: 204px;
	width: 333px;
	height: 396px;
}
#page5 { background-image: url(image/name_prelist.png); }

#out_name_prelist {
	position: relative;
	left: 80px;
	top: 116px;
	width: 180px;
	height: 195px;
	text-align: center;
}
#page5_next {
	left: 125px;
	top: 308px;
	width: 30px;
	height: 20px;
	cursor: pointer;
}
#page5 .one_name {
	display: block;
	text-align: center;
	margin: 5px;
}
#img_stick_v {
	position: absolute;
	left: 125px;
	top: 246px;
	width: 333px;
	height: 45px;
}

/* 第六頁, 第七頁, 第十頁 (名單) */
#page6, #page7, #page10 {
	position: absolute;
	left: 120px;
	top: 186px;
	width: 700px;
	height: 430px;
}
#page6 { background-image: url(image/name_all.png); }
#page7 { background-image: url(image/name_sele.png); }
#page10 { background-image: url(image/member_list.png); }

#out_name_all , #out_name_sele, #member_list {
	position: relative;
	left: 110px;
	top: 155px;
	width: 500px;
	height: 188px;
	text-align: left;
	overflow: auto;
	/* for IE */
	scrollbar-base-color: #57311F;
	scrollbar-track-color: #AA5222;
}
#page7 .name23 {
	cursor: pointer;
}
#img_stick_h {
	position: absolute;
	left: 210px;
	top: 186px;
	width: 53px;
	height: 430px;
}
.name1_group , .name1_head {
	position: static;
}
.name1_head {
	margin: 6px;
	padding: 4px;
	font-size: 22px;
	font-weight: bold;
	background-color: rgba(192, 109, 19, 0.29);
	box-shadow: 2px 2px 4px #444;
	padding-left: 10px;
}
#member_list {
	text-align: center;
	font-size: 20px;
	font-weight: 500;
}
#member_list span.head {
	font-weight: 900;
}

/* 第八頁 聖旨 */
#page8 { background-image: url(image/analysis.png); }
#page8_name {
	left: 65px;
	top: 57px;
	width: 80px;
	height: 45px;
	color : black;
	text-align: center;
	font-size: 36px;
	font-weight:bold;
}
#page8_good {
	left: 150px;
	top: 67px;
	width: 100px;
	height: 25px;
	color : white;
	text-align: center;
	font-size: 24px;
}
#out80 {
	left: 65px;
	top: 115px;
	width: 200px;
	height: 83px;
	color : black;
	text-align: center;
	font-size: 16px;
	font-weight:bold;
}
#say80 {
	left: 65px;
	top: 230px;
	width: 200px;
	height: 115px;
	color : black;
	text-align: left;
	font-size: 16px;
	font-weight:bold;
	overflow: auto;
}

/* 第九頁 康熙字典 */
#img_dict {
	position: absolute;
	left: 140px;
	top: 176px;
}
#tofind {
	position: absolute;
	left: 208px;
	top: 220px;
	width: 520px;
	height: 35px;
	font-size: 16px;
	background: #fff;
}
#page9_explain {
	left: 155px;
	top: 350px;
	width: 650px;
	height: 230px;
	/* color : black; */
	font-size: 16px;
	overflow: auto;
}
#page9_explain div {
	position: static;
}

/* 取代原本字典中的屬性 */
wh { color: #A2272A; border-width: 0px; } 		/* 主要文字變成暗紅色 */
.panel {background-color : transparent; box-shadow: 0px 0px 0px #000;} /* 解釋背景透明 */
.panel-default { border-width: 0px; } /* 解釋內容不要邊框 */
.panel-default > .panel-heading {width: 615px; background-color: #ECAF78; } /* 解釋上方的說明背景色 */
.list-group-item {background-color : transparent; border: 1px solid #D38420; } /* 尋找全文背景色及邊線 */
a.list-group-item:hover { background-color: #ECAF78; } /* 尋找全文滑鼠指到的項目 */
.btn-primary {background-color: #CB7B41; border-color: #AF6833; }	/* 部件及同音選取字 */
.btn-primary:hover  {  background-color: #AF6833;  border-color: #8C512A;}	/* 部件及同音選取字滑鼠指到的字 */


/* 第九頁 康熙字典 選單*/
#page9 .dict_menu {
	top: 269px;
	height: 31px;
}

#page9_menu_glypheme { left: 207px; width:83px; background-image: url(image/wordbookBtn1.png); cursor: pointer;}
#page9_menu_fulltext { left: 307px; width:83px; background-image: url(image/wordbookBtn2.png); cursor: pointer;}
#page9_menu_pb { left: 407px; width:83px; background-image: url(image/wordbookBtn3.png); cursor: pointer;}
/* #page9_menu_strokes { left: 486px; width:83px; background-image: url(image/wordbookBtn4.png);} */
#page9_menu_pron { left: 507px; width:83px; background-image: url(image/wordbookBtn5.png); cursor: pointer;}
#page9_menu_dict { left: 608px; width:120px; background-image: url(image/wordbookBtn6.png); cursor: pointer;}

/* 數位E筆 */

#page13 {
	top: 180px;
	left: 140px;
	height: 450px;
/*	background-color: black;
	box-shadow: 0px 10px 10px #9B5628; */
}

/* 訊息 */
#message {display: none;}

/* chrome 捲軸 */
::-webkit-scrollbar { background-color:#AA5222; }
::-webkit-scrollbar-button       { background-color:#842F2C;}
::-webkit-scrollbar-track-piece  { background-color:#AA5222;}
::-webkit-scrollbar-thumb { -webkit-border-radius: 8px; background-color: #842F2C;}